html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(247, 241, 241);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 5;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
#block{
  display: flex;
  justify-content: space-around;
  height: 75%;
  width: 100%;
}
#block1 {
    height: 90%;
    width: 50%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bottom-img img {
    display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#block2{
  justify-content: left;
}
#block2 h1:nth-child(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-weight: 300;
}



.stars{
  
}
.checked{
  color: rgb(9, 209, 19);
}

.cart-btn{
  all: unset;
  background-color: black;
  color: white;
  height: 50px;
  width: 150px;
  text-align: center;
  font-weight: 500;
  transition: 2s ease;
}
.cart-btn:hover{
  all: unset;
  background-color: rgb(7, 197, 32);
  color: white;
  height: 50px;
  width: 150px;
  text-align: center;
  font-weight: 500;
  transition: 2s ease;
}
.wishlist-btn{
  all: unset;
  background-color: white;
  color: black;
  border:1px black solid;
  height: 50px;
  width: 150px;
  text-align: center;
  font-weight: 500;
  transition: 1s ease;
}
.wishlist-btn:hover{
  all: unset;
  background-color:rgb(38, 38, 252); 
  color: black;
  border:1px black solid;
  height: 50px;
  width: 150px;
  text-align: center;
  font-weight: 500;
  transition: 1s ease;
}
#block3{
  height: 15vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.swiper-button{
  color: transparent;
  position:absolute;
}
.swiper-button i{
  color: white;
  position:absolute;
}


@media only screen and (max-width: 700px) {
  body{
    height: unset;
  }
  #block{
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  #block1{
    height: 80%;
    width: 100%;
    position:relative;
  }
  #block2{
    width: 100%;
    position: relative;
  }
  #block3{
    position: static;
  }
 
}
@media only screen and (max-width: 600px) {
  body{
    height: unset;
  }
  #block{
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  #block1{
    height: 80%;
    width: 100%;
    position:relative;
  }
  #block2{
    width: 100%;
    position: relative;
  }
  #block3{
    font-size: 10px;
  }
 
}